<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp-SSH" version="1.0.22" targetFramework="net46" />
  <package id="LibGit2Sharp-SSH.NativeBinaries" version="1.0.14" targetFramework="net46" />
  <package id="Microsoft.Build" version="15.8.166" targetFramework="net46" />
  <package id="Microsoft.Build.Engine" version="15.8.166" targetFramework="net46" />
  <package id="Microsoft.Build.Framework" version="15.8.166" targetFramework="net46" />
  <package id="Microsoft.Build.Tasks.Core" version="15.8.166" targetFramework="net46" />
  <package id="Microsoft.Build.Utilities.Core" version="15.8.166" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.16.30" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net46" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Tasks.Dataflow" version="4.5.24" targetFramework="net46" />
</packages>